---
import Navigation from './Navigation.astro';
---

<style>
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(5, 1, 25);
      padding: 15px;
      color: white;
  }

</style>
<header>
  <p>Logo de Astro</p>
  <nav>
    <Navigation />
  </nav>
</header>