---
---

<div>
<a href="/">Inicio</a>
<a href="/about/">Sobre mi</a>
<a href="/blog/">Blog</a>
</div>


<style>
a {
     
    color: white;
    padding-right: 10px;
    text-decoration: none;
}

a:hover {
    color:#f7f1f19f
}
</style>