---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
<main>
<p>Escrito por {frontmatter.author}</p>
<slot />
</main>
</BaseLayout>